@charset "UTF-8";
/* CSS reset with box-sizing fix */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a,
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

body {
  background-color: #F8F8F8;
  color: #3c4045;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

video {
  outline: none;
}

.video {
  width: 100%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordeon {
  text-decoration: none !important;
}

body {
  background-color: #fff;
  counter-reset: section;
}

.sticky-place {
  position: relative;
}

.bg-title {
  position: relative;
  padding: 40px 0;
  border-top: 1px solid #ebedee;
  border-bottom: 1px solid #ebedee;
}
.bg-title__description {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
  color: #3c4045;
}

@media (max-width: 768px) {
  .bg-title {
    background-color: #09a1a7;
    padding: 30px 0;
  }
  .bg-title__description {
    font-size: 30px;
    line-height: normal;
    color: #fff;
  }
}
.sidebar {
  position: absolute;
  top: -20px;
  right: calc(100vw - 1170px - (100vw - 1170px)/2 + 20px);
  height: 100%;
}

.calculator {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

@media (max-width: 1171px) {
  .sidebar {
    right: 20px;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
.questions-block {
  background-color: #EBEDEE;
  padding: 60px 0;
}
.questions-block__title {
  position: relative;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 20px;
  color: #3c4045;
  padding: 40px 420px 20px 0;
}
.questions-block__title:first-child {
  padding: 0 420px 20px 0;
}
.questions-block__items {
  position: relative;
  margin: 0 420px 0 0;
  border-radius: 5px;
  overflow: hidden;
}
.questions-block__item {
  background-color: #fff;
  padding: 15px 15px 15px 40px;
  border-bottom: 1px solid #d2d5d9;
}
.questions-block__description {
  display: none;
}
.questions-block__description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3c4045;
  padding: 20px 0;
}
.questions-block__description li {
  list-style: disc;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3c4045;
  padding-bottom: 20px;
  margin-left: 40px;
}
.questions-block__description li span {
  font-weight: 700;
}
.questions-block__subtitle {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .questions-block__title {
    padding: 40px 0 20px 0;
  }
  .questions-block__title:first-child {
    padding: 0 0 20px 0;
  }
  .questions-block__items {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .questions-block__title {
    font-size: 24px;
    line-height: 32px;
    padding: 30px 0 15px 0;
  }
  .questions-block__title:first-child {
    padding-bottom: 15px;
  }
}